:root{
    --lp:#edebf7;
    --mg:#5ED2A7;
    --lrb:#3A599B;
    --lstb:#5f83A7;
    --db:#2848bb;
    --font-basic: arial;
    --font-next: serif;
    --font-finally: sans-serif
}
* {
    box-sizing: border-box;
  }
  
#spacer {
    height: 100px;
}

 h1, h2, h3, h4 {
    color: var(--db)
    font-family: sans-serif;
}
.complete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
    background-color:var(--lp);
    width: 100%;
}
.workimages1{
    display: flex;
    flex-wrap: wrap;
}
.side {
 width: 10%;
}
#text {
    padding: 50px;
    font-family: var(--font-next)
}
#first h3 {
    border-left: 20px;


}
span {
    font-style: italic;
}

header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
figure img {
    height:300px;
    width: 225px;
    border-radius:50%;
    border: solid var(--db)
}
nav {
    display:flex;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li {
    
    float:left;
    margin-left: 200px;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;

a {
    text-decoration: none;
    color: var(--db);
    padding:0 40px 0 40px
}

a:visited {
    color: var(--db);
}
a:active {
    color: purple;
}
a:hover {
    color: var(--mg);
} 
.wcontent, .acontent, .ccontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
}
.ccontent{
    margin-left: 200px;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.card {
    height:325px;
    width: 400px;
}   
.card img{
    height: 300px;
    width: 400px;
    }
#first img{
    height: 300px;
    width: 600px;
}

 .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate (8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
     }

 .card header {
    flex: 1 0 200px;
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
 }

 .card image{
    width: 100%
 }
 .card header{
    border-radius: 50px 50px 0px 50px;
    padding: 20px;
 }
.centerimage{
    height: 100%;
    width: 100%;
}
#cimage{
    Display:flex;
    justify-content:center;
    align-items:center;

}

.smallcards {
    flex: 4;
    backgroun-color:var(--lp);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start
}
@media screen and (max-width: 815px) {
    .complete {
      display: flex;
    flex-direction: column;
    }
    .card img{
        height: 225px;
        width: 300px;
    }
    #first img {
        height: 225px;
        width: 450px;}
    .complete {
    display: flex;
    flex-direction: column;
    align-content: center;    
}
.smallcards{
    display:flex;
    flex-direction: column;
}
}
footer {
    display:flex
}
footer p {
    justify-self: flex-end;
    color:#181E33
    
}