/* root and body over all */
:root{
    --lp:#edebf7;
    --mg:#5ED2A7;
    --lrb:#3A599B;
    --lstb:#5f83A7;
    --db:#2848bb;
  
}
.* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, san-serif;
    margin: 5px;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    background-color:var(--lp);
}
/*  header with my name, profile image, and navigation
 links to parts of the page*/
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
figure img{
    border-radius: 50%; 
    border-width 1px;
    border-color:var(--db);
}
nav {
    display:flex;
    margin-left:200px;
    justify-content: space-between;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: var(--db);
    padding:0 40px 0 40px;
}
a:visited {
    color: var(--db);
}
a:hover {
    color: var(--mg);
} 
/* I put a "spacer" section between the parts so 
they look distinct and make it seem the navigation
 links are necessary */
.spacer {
    height: 100px;
}

/* the complete class holds the side bar and 
the main section of each of the three parts */
.complete {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}
/* about me section, sidebar and text.  
The About Me should be on one line and 
the text seperate from it */
#AboutMe {
 flex:1;
 padding:10px;
 text-align: left;
 width: 170px;
}
#AboutMe h2{
    width: 120px;
}
.acontent, {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
}
.aconetent {
    display:flex;
    flex-wrap: nowrap;
}
    .text {
 padding: 10px;
 font-family: cursive;
} 
span {
    font-style: italic;
}
/* Since the "Work" aside appears to teke care of itself
I started to concentrate the cSS to the projects class.
I had ot treat the first project (the 'bigproject" class)
seperately from the others ("littleproject" class) since
it is supposed to be obviously bigger.  But other than 
their relative sizes, they are treated the same in the 
container (i.e. the "projects" class. Also, I added the 
":hover" pseudo class to both the cards and the headers 
associated text so that they change when interacted with
 */
 .projects{
    flex: 4;
    background-color:var(--lp);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
    }    

.bigproject {
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 500px;
    transform: rotate(2deg);
    box-shadow: 10px 10px 5px var(--lrb);
    margin: 20px;
    }
.bigproject:hover {
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 500px;
    transform: rotate(10deg);
    box-shadow: 20px 20px 10px var(--lrb);
    margin: 20px;
} 
.littleproject {
   /* Because I didn't feel the border styles were 
   necessary on either the first project or the others
   I removed the border style and width froom the model I
   used */
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate(2deg);
    box-shadow: 10px 10px 5px var(--lrb);
    margin: 60px;
}
.littleproject:hover {
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate(10deg);
    box-shadow: 20px 20px 10px var(--lrb);
    margin: 60px;
}
.bigproject h3 {
    text-decoration: none;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: var(--lp);
    background-color: var(--db);
}
.bigproject h3:hover {
    text-decoration: none;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: var(--mg);
    background-color: var(--db);
    text-decoration: none;
}    
.littleproject h3 {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: var(--lp);
    background-color: var(--db);
    text-decoration: none;
}
.littleproject h3:hover {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: var(--mg);
    background-color: var(--db);
    text-decoration: none;
}
.bigproject p {
    text-align: flex-start;
    border-radius: 0px 0px 50px 50px;
    padding: 20px 20px 10px 0px;
    color: var(--mg);
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.bigproject p:hover {
    text-align: flex-start;
    border-radius: 0px 0px 50px 50px;
    padding: 20px 20px 10px 0px;
    color: var(--db);
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.littleproject p {
    text-align: flex-start;
    border-radius: 0px 0px 50px 50px;
    padding: 20px 20px 10px 0px;
    color:var(--mg);
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.littleproject p:hover {
    text-align: flex-start;
    border-radius: 0px 0px 50px 50px;
    padding: 20px 20px 10px 0px;
    color:var(--db);
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.bigproject img {
    width: 100%;
}
.littleproject img {
    width: 100%;
}
/* This structures the "Contacts" section*/

.ccontent{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: flex-end;
}
.ccontent a {
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
/* Footer */

footer {
    display:flex
    justify-content: flex-end;
}
footer p {
    justify-self: flex-end;
    color:#181E33 
}
/* This adjusts the site to flex from row to column when
viewed on a tablet or phone */
@media screen and (max-width: 815px) {
    .complete {
      display: flex;
    flex-direction: column;
    }
    .littleproject img{
        height: 225px;
        width: 300px;
    }
    .bigproject img {
        height: 225px;
        width: 450px;}
    .complete {
    display: flex;
    flex-direction: column;
    align-content: center;    
}

}
