:root{
    --lp:#edebf7;
    --mg:#5ED2A7;
    --lrb:#3A599B;
    --lstb:#5f83A7;
    --db:#2848bb;
  
}
.* {
    box-sizing: border-box;
  }
/*body {
    font-family: Arial, san-serif;
    margin: 5px;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    background-color:var(--lp);
}
  */

  header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav {
    display:flex;
    margin-left:200px;
    justify-content: space-between;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: var(--db);
    padding:0 40px 0 40px
}




  .spacer {
    height: 100px;
}
span {
    font-style: italic;
}

figure img{
    border-radius: 50%; 
    border-width 1px;
    border-color:var(--db);
}

.complete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: space-around;
    width: 100%;
}

.side {
 width: 15%;
}

#AboutMe {
    width: 100px;
}
#text {
    padding: 50px;
    font-family: var(--font-next)
}
#first {
    padding: 20px;
}

 .workcards{
    flex: 4;
    background-color:var(--lp);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
    }
      
      
.cards {
   /* border-style: solid;
    border-width: 1px;
    */border-radius: 50px;
    padding: 10px;
    flex: 0 0 500px;
    transform: rotate(4deg);
    box-shadow: 10px 10px 5px var(--lrb);
    margin: 60px;
}
.cardb {
   /* border-style: solid;
    border-width: 1px;
    */border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate(4deg);
    box-shadow: 10px 10px 5px var(--lrb);
    margin: 20px;
}
      
.cards header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: var(--lp);
    background-color: var(--db);
}
.cardb header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: var(--lp);
    background-color: var(--db);
}
.cardb p {
    text-align: flex-start;
    border-radius: 0px 0px 50px 50px;
    padding: 20px 20px 10px 0px;
    color: var(--mg);
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.cards p {
    text-align: flex-start;
    border-radius: 0px 0px 50px 50px;
    padding: 20px 20px 10px 0px;
    color:var(--mg);
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.cardb img {
    width: 100%;
    background-color: var(--db)
}
.cards img {
    width: 100%;
}

*/



a:visited {
    color: var(--db);
}
a:active {
    color: purple;
}
a:hover {
    color: var(--mg);
} 
.acontent, {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
}

.aconetent {
    display:flex;
    flex-wrap: nowrap;
}

.ccontent{
    position: relative;
}

.ccontent a [
    display: flex;
    align-items: flex-end;
    height: 30px;
    align-text: center;

]

.wcontent{
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

.card img{
    height: 300px;
    width: 400px;
    }
#first img{
    height: 300px;
    width: 600px;
}

.products {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }
  
  /* Added border-radius to match the card */
  .card header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  

  /*.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate (8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
     }

 .card header {
    flex: 1 0 200px;
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
 }

 .card image{
    width: 100%
 }
 .card header{
    border-radius: 50px 50px 0px 50px;
    padding: 20px;
 }
 */
.centerimage{
    height: 100%;
    width: 100%;
}
#cimage{
    Display:flex;
    justify-content:center;
    align-items:center;

}

.smallcards {
    flex: 4;
    backgroun-color:var(--lp);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start
}
@media screen and (max-width: 815px) {
    .complete {
      display: flex;
    flex-direction: column;
    }
    .card img{
        height: 225px;
        width: 300px;
    }
    #first img {
        height: 225px;
        width: 450px;}
    .complete {
    display: flex;
    flex-direction: column;
    align-content: center;    
}
.smallcards{
    display:flex;
    flex-direction: column;
}
}
footer {
    display:flex
}
footer p {
    justify-self: flex-end;
    color:#181E33
    
}